.post{
    color: black;
    background-color: rgb(211, 211, 211);;
    display: flex;
    margin-top: 1rem;
    position: relative;
}
.ava{
    display: block;
    min-width: 7rem;
    overflow:hidden;
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    display: flex;
    background-color: azure;
    align-items: stretch;
    justify-content: center;
    transition: .2s;
}
.ava:hover{
    transform: translateY(-.2rem);
}
.content{
    padding: .5rem;
    flex-grow: 1;
}
.user_name{
    color:black;
    font-size: 1.5rem;
    transition: .2s;
    font-weight: 500;
    display: block;
}
.user_name:hover{
    transform: translateY(-.2rem);
}
.like_wrapper{
    margin-right: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
}
.likes{
    cursor: default;
    margin-right: 1rem;
}
.like_button{
    cursor: pointer;
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: .15s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.like_button img{
    width: 2rem;
    height: 2rem;
}
.like_button:hover{
    transform: scale(1.6);
}
.like_button:hover img{
    transform: scale(1.2);
}
.active{
    background-color: pink;
}