.new_post{
    display: flex;
    position: relative;
}
.textarea{
    height: 7rem;
    flex-grow: 1;
    width: 100%;
    resize: none;
    border:none;
    outline: 0;
    padding: .5rem;
    padding-right: 6rem;
}
.button{
    position: absolute;
    right: 1rem;
    top:1rem
}
