.aside{
    grid-area: a;
    background-color: grey;
    padding: .5rem;
    border-radius: .5remx;
    font-size: 2rem;
}
.list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.list a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    text-align: center;
    background-color: rgb(88, 88, 88);
    border-radius: .5rem;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
}
.list a:hover {
    color: black;
    background-color: white;
}
.list a:last-child{
    margin-top:3rem;
}
.list a.active{
    color: black;
    background-color: white;
    cursor: default;
    border:.2rem solid black;
    border-radius: .5rem;
    padding: .1rem;
}
