.wallpaper_box{
    overflow:hidden;
    width: 100%;
    height: 25rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
}
.wallpaper{
    width: 100%;    
}
.ava_description{
    border-radius: .3rem;
    display: flex;
    background-color: cornsilk;
}
.ava{
    overflow:hidden;
    width: 15rem;
    height: 15rem;
    border-radius: .3rem;
    display: flex;
    background-color: azure;
    border: .1rem solid black;
    border-radius: .5rem;
    align-items: stretch;
    justify-content: center;
}
.name{
    text-align: center;
    font-size: 3rem;
    padding: 0;
    line-height: 3rem;
}
.info_wrapper{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.job{
    border:1px dashed gray ;
}
.contacts_wrapper{
    position: relative;
    text-align: center;
    background-color: white;
    border: .1rem solid black;
    border-radius: .5rem;
    width: fit-content;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    z-index: 1;
}
.contacts{
    background-color: white;
    position: absolute;
    top: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transition: .5s;
    width: 100%;
    left: -.1rem;
    border: .1rem solid black;
    border-radius: .5rem;
    z-index: 0;
}
.contacts_wrapper:hover>.contacts{
    transform: scaleY(1);
}