.app{
    padding: 0 2%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'h h'
        'a m'
    ;
    min-height: 100vh;
}
.app>header{
    grid-area: h;
    display: flex;
    justify-content: space-between;
}
.app>aside{
    grid-area: a;
}
.app>aside>nav>ul{
    list-style-type: none;
    padding: 0;
}
.app>aside>nav>ul>li:last-child{
    margin-top:3em;
}
.app>main{
    grid-area: m;
    display: flex;
    flex-direction: column;
}
.app>main>.wallpaper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(./wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

