*{
    cursor: default;
}
p{
    margin: 0;
}
.app{
    font-size: 10px;
    padding: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'h h'
        'a m'
    ;
    grid-gap: 5px;
}
.app>.main{
    background-color: rgb(192, 192, 192);
    border-radius: .2rem;
    padding: .5rem;
    grid-area: m;
    display: flex;
    flex-direction: column;
}
